:root {
    font-size: 10px;
  }
  
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }

.wrapper {
    max-width: 120rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
}

.header{
    padding-bottom:3rem;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
h1{
    font-size: 3rem;
    font-family: Georgia;
    font-style: normal;
}

h2{
    font-size: 2.5rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
}

h3{
    font-size: 2.1rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
}

h4{
    font-size: 1.8rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
}

h5{
    font-size: 1.5rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
}


.header-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-contact-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-contact-info li{
    list-style-type:none;
    font-size: 1.2rem;
    line-height: 2rem;
    align-self: center;
}

figure {
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
  }


.main-photo img{
    width: 15rem;
    height: 20rem;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

}



section{
display: flex;
    flex-direction: column;
    align-items: center;
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-table{
    list-style-type: none;
    font-size: 1.3rem;
}

.summary{
    width:15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    font-size: 1.2rem;
}

.summary-text{
    text-indent: 1rem;
    
}

.footer{
    padding-top:5rem;
}

.footer-wrap{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}





.footer-telegram img{
    width: 5rem;
    height: 5rem;
}

